nav {
  background-color: #4CAF50;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  flex: 1;
  text-align: center;
  margin: 0;
}

nav a:hover {
  background-color: #45a049;
  border-radius: 5px;
}

nav a.active {
  background-color: #333;
}
