<div class="home">
    <h1>Welcome to the To-Do List</h1>
    <p>
    A To-Do List system is a type of task management tool used to organize, prioritize, 
    and track tasks or activities that need to be completed. It typically consists of a list 
    where each item represents a specific task. The tasks are usually represented with checkboxes, 
    allowing users to mark tasks as completed once they are done. </p>
    <p style="font-weight: bold;">Click on the link below to view and manage your tasks.</p>
    <a routerLink="/todo-list">Go to task list</a>
</div>
  