<div class="todo-list">
  <h1>List task's archived</h1>

  <div class="filter-container">
    <input 
      [(ngModel)]="startDate" 
      type="date" 
      placeholder="Start date" 
      class="styled-date-input"/>

    <input 
      [(ngModel)]="endDate" 
      type="date" 
      placeholder="End date" 
      class="styled-date-input" />

    <div class="filter-actions">
      <input 
        class="btn btn-primary filter-btn" 
        type="button" 
        value="Filtrar" 
        (click)="filterData(startDate, endDate)">
      <input 
        class="btn btn-primary filter-btn" 
        type="button" 
        value="Limpiar" 
        (click)="cleanData(startDate, endDate)">
    </div>
  </div>

  <div class="table-container">
    <table *ngIf="tasks.length > 0" class="task-table">
      <thead>
        <tr>
          <th>Task's name</th>
          <th>Done</th>
          <th>Start</th>
          <th>End</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index" class="todo-item">
          <td style="width: 80%;">{{ task.name }}</td>
          <td style="width: 5%; text-align: center;">{{ getDoneState(task.done) }}</td>
          <td style="width: 5%; text-align: center;">{{ task.initialDate | date: 'dd/MM/yyyy' }}</td>
          <td style="width: 5%; text-align: center;">{{ task.finishDate | date: 'dd/MM/yyyy' }}</td>
          <td style="width: 5%; text-align: center;">{{ getStateName(task.stateId) }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tasks.length === 0" class="no-tasks-message">
    No tasks available
  </div>
</div>
