.table-container {
  max-height: 470px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

thead {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.todo-list {
  margin: 20px;
  padding: 10px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.styled-date-input {
  width: 25%;
  padding: 5px;
  font-size: 16px;
}

.filter-actions {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

.filter-btn {
  margin-right: 10px;
}

.task-table th {
  text-align: center;
  background-color: #f2f2f2;
  font-weight: bold;
}

.task-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.task-table tr:hover {
  background-color: #f1f1f1;
}

.no-tasks-message {
  color: #333;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
