<div>
  <!-- Imagen como botón -->
  <img
    [src]="isRecognizing ? 'assets/images/microphone.svg' : 'assets/images/mute.svg'"
    alt="Micrófono"
    (click)="toggleRecognition()"
    class="mic-icon"
  />

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div>
    <h3>Texto Reconocido:</h3>
    <input
      type="text"
      [(ngModel)]="text"
      placeholder="Habla para ver el texto..."
      [readonly]="true" 
      style="width: 750px;"
    />
  </div>
</div>
