/* You can add global styles to this file, and also import other style files */
/* styles.css */
body {
    /*background-image: url('/assets/images/x.jpeg');*/
    /*background-color: #F8F8F8;**/
    background-size: cover; /* Esto asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Esto centra la imagen */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */
    height: 100vh; /* Asegura que ocupe todo el alto de la ventana */
    margin: 0; /* Elimina los márgenes por defecto */
  }